<p>shipper works!</p>
<table>
  <tr *ngFor="let ingredient of ingredients; let i = index">
    <td>{{ingredient.id}}</td>
    <td>{{ingredient.name}}</td>
    <td>{{ingredient.measure}}</td>
    <td>{{ingredient.amount}}</td>
    <td><input type="number" [(ngModel)]="addiction[i]"></td>
  </tr>
<!--  <tr *ngFor="let ingredient of new">-->
<!--    <td><input [(ngModel)]="ingredient.name"></td>-->
<!--    <td><input [(ngModel)]="ingredient.measure"></td>-->
<!--    <td><input type="number" [(ngModel)]="ingredient.amount"></td>-->
<!--  </tr>-->
</table>
<button (click)="putIngredients()">SEND</button>
