/*!* Style from angular Tour of heroes tutorial *!*/
/*!* Application-wide Styles *!*/
/*h1 {*/
/*  color: #369;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-size: 250%;*/
/*}*/
/*h2, h3 {*/
/*  color: #444;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-weight: lighter;*/
/*}*/
/*body {*/
/*  margin: 2em;*/
/*}*/
/*body, input[type="text"], button {*/
/*  color: #333;*/
/*  font-family: Cambria, Georgia, serif;*/
/*}*/
/*!* everywhere else *!*/
/** {*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.div {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
}
.mat-table {
  width: 67%;
  margin: 16px auto;
}

/*router-outlet {*/
/*  position: fixed;*/
/*}*/
